.icon-insta-black {
  background-image: url("../icons/instagram-black.svg");
}

.icon-facebook-black {
  background-image: url("../icons/facebook-black.svg");
}

.icon-mail-black {
  background-image: url("../icons/mail-black.svg");
}

.icon-phone-black {
  background-image: url("../icons/phone-black.svg");
}

.icon-green-arrow {
  background-image: url("../icons/arrow-right-green.svg");
  margin-left: 5px;
}

.icon-people {
  background-image: url("../icons/user.svg");
}

.icon-group {
  background-image: url("../icons/users.svg");
}

.icon-date {
  background-image: url("../icons/calendar.svg");
}

.icon-activity {
  background-image: url("../icons/bar-chart.svg");
}

.icon-location {
  background-image: url("../icons/map-pin-black.svg");
}

.icon-clock {
  background-image: url("../icons/clock.svg");
}

.icon {
  height: 30px;
  width: 30px;
  display: block;
  background-repeat: no-repeat;
}