.icon-insta-black {
  background-image: url("../icons/instagram-black.svg");
}

.icon-facebook-black {
  background-image: url("../icons/facebook-black.svg");
}

.icon-mail-black {
  background-image: url("../icons/mail-black.svg");
}

.icon-phone-black {
  background-image: url("../icons/phone-black.svg");
}

.icon-green-arrow {
  background-image: url("../img/arrow-right-green.svg");
  margin-left: 5px;
}

.icon {
  height: 30px;
  width: 30px;
  display: block;
  background-repeat: no-repeat;
}