#explore-area {
  .metaslider {
	margin: 100px auto 50px auto !important;

	.flex-direction-nav {

	  .flex-prev {
		opacity: 1 !important;
		left: 25px !important;
	  }

	  .flex-next {
		opacity: 1 !important;
		right: 25px !important;
	  }
	}

	.slides {
	  .ms-image {
		img {
		  border-radius: $img-border-radius;
		}

		.caption-wrap {
		  width: 120px;
		  border-radius: 15px;
		  left: 15px;
		  bottom: 15px;
		  text-align: center;
		  padding: 5px;
		}
	  }
	}
  }
}

.slider-desc {
  color: $text-light;
  text-align: center;
}

.header-slider {
  img {
	height: $header-height !important;
	object-fit: cover;

	@media screen and (max-width: 767px ) {
	  height: 500px !important;
	}
  }
}

.img-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 0 800px rgba(0, 0, 0, .3);
  z-index: 5;
}

#metaslider_122 {
  .nivo-caption {
	left: 50%;
	bottom: 50%;
	transform: translate(-50%, 50%);
	background: none;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	opacity: 1;
	font-weight: bold;
  }
}