.clouds-bg {
  background-image: url("../img/cloud-bg.png");
  margin-top: -100px;
  padding-top: 250px;
  position: relative;
  padding-bottom: 100px;
}

#explore {
  padding-top: 200px;
  padding-bottom: 0;

  .compass-img {
	background-image: url("../img/kompas.png");
	background-size: contain;
	background-repeat: no-repeat;

	@media screen and (max-width: 991px) {
	  margin-bottom: 50px;
	}
  }

  #hr-map-svg {
	width: 100%;
	height: auto;

	path {
	  fill: $red;
	  stroke: black;

	  &.active {
		cursor: pointer;

		&:hover {
		  stroke-width: 5px;
		}
	  }

	  &.clicked {
		fill: $blue;
	  }
	}
  }

  .explore-locations {
	display: flex;
	flex-direction: column;

	.explore-location {
	  display: flex;
	  align-items: center;
	  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
	  width: 100%;
	  height: 110px;
	  background: white;
	  margin-bottom: 25px;
	  padding: 10px;
	  border-radius: 15px;

	  .location-img {
		margin-right: 10px;
		width: 92px;
		height: 92px;
		border-radius: 10px;
		object-fit: cover;
	  }

	  .explore-locate {
		margin-left: auto;
		border: none;
		background: transparent;
		color: $red;
		font-size: 18px;

		@media screen and (max-width: 575px) {
		  font-size: 0;
		}

		&:focus {
		  outline: none;
		}
	  }

	  .location-info {
		.explore-title, .explore-duration {
		  margin-bottom: 0;
		}

		.explore-title {
		  line-height: 1;
		}

		.explore-duration {
		  color: $text-light;
		}
	  }

	  //#details-lika, #details-istra, #details-sjd, #details-gk {
		//display: none;
	  //}

	  .show {
		display: block !important;
	  }

	  .map-ture-details {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		padding: 20px;
		background: white;
		box-shadow: 0px 1px 10px 0px rgb(0 0 0 / 5%);
		border-radius: 10px;

		.explore-area_img {
		  border-radius: $img-border-radius;
		  width: 100%;
		  height: 50%;
		  object-fit: cover;
		}

		.ture-details {
		  margin-top: 25px;
		  display: flex;
		  justify-content: space-between;
		  align-items: center;

		  p {
			color: $text-light;
			letter-spacing: 0.5px;
			font-size: 18px;
		  }
		}

		.tura-get-more {
		  display: block;
		  width: 100%;
		  font-weight: bold;
		  color: white !important;
		  background-color: $red;
		  text-align: center;
		  padding: 15px;
		  border-radius: 10px;
		}

		.close-tura-details {
		  border: none;
		  background: none;
		  color: $red;
		  text-decoration: underline;
		  text-align: center;
		  display: block;
		  margin: 25px auto;
		  font-size: 1.2rem;

		  &:focus {
			outline: none;
		  }
		}

	  }
	}
  }
}

.mountain-img {
  background-image: url("../img/mountain.png");


  @media screen and (max-width: 575px) {
	margin-top: -200px;
  }
}

.beach-img {
  background-image: url("../img/beach.png");
  margin-top: 100px;
}

.section-end {
  background-position: center;
  width: 100%;
  height: 600px;
}

#explore-area {
  .explore-area {

	text-align: center;

	.explore-area_img {
	  width: 100%;
	  height: 400px;
	  object-fit: cover;
	  border-radius: 15px;
	}

	.explore-area_title {
	  margin: 15px 0;
	}
  }
}

#about-us {
  margin-top: -75px;

  .about-us-link {
	display: inline-flex;
	color: $green-text;
	font-weight: bold;

	&:hover {
	  color: $green-text;
	}
  }

  .about-us-text {
	color: $text-light;
	line-height: 1.8;
  }

  .about-us-img {
	max-width: 100%;
	height: auto;
	border-radius: $img-border-radius;

	@media screen and (max-width: 768px) {
	  display: block;
	  margin: 25px auto;
	}
  }
}

#newsletter {
  .custom-logo {
	display: block;
	margin: 0 auto;
	width: 400px;
	height: auto;
  }
}