.content-page {
  position: relative;
  background-image: url("../img/cloud-bg.png");
  padding-bottom: 100px;
  background-position-y: -100px;
}

.page-main {
  h1 {
	font-size: 3rem;
  }

  h1, h2, h3 {
	padding: 50px 0;
	text-align: center;
  }

  p {
	max-width: 800px;
	margin: 20px auto;
	color: $text-dark;
	font-size: 18px;
  }

  .wp-block-columns {

	img {
	  width: 100%;
	  height: auto;
	  border-radius: 25px;
	}
  }

  .wp-block-image {
	img {
	  border-radius: 25px;
	  height: auto;
	}
  }
}

.wp-block-pullquote {
  max-width: 600px;
  margin: 50px auto;
}

.alignright {
  float: none !important;
}